<html>
<head>
  <title>Holstee Newsletter Management</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/unsubscribe.css">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="header">
        <img class="logo" src="http://cdn.shopify.com/s/files/1/0031/5352/files/holstee_logo_2.png?4803=">
        <h4>Update your subscription settings</h4>
      </div>

      <form role="form" method="post">

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"<% if(typeof email !== "undefined" && email){ %> value="<%= email %>"<%}%>>
        </div>

        <fieldset>

          <legend>Product Updates Newsletter</legend>

          <div class="radio">
            <label>
              <input type="radio" name="newsletters[product]" value="weekly" checked>
              <span class="duration">Once a week</span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="newsletters[product]" value="monthly">
              <span class="duration">Once a month</span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="newsletters[product]" value="quarterly">
              <span class="duration">Once a quarter</span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="newsletters[product]" value="yearly">
              <span class="duration">Once a year</span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="newsletters[product]" value="never">
              <span class="duration">Never</span>
            </label>
          </div>

        </fieldset>

        <fieldset>

          <legend>Mindful Matter Newsletter</legend>

          <div class="radio">
            <label>
              <input type="radio" name="newsletters[mindfulmatter]" value="monthly" checked>
              <span class="duration">Once a month</span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="newsletters[mindfulmatter]" value="never">
              <span class="duration">Never</span>
            </label> 
          </div>

        </fieldset>

        <fieldset>

          <legend>Events at the Holstee Work/Shop in Brooklyn</legend>

          <div class="radio">
            <label>
              <input type="radio" name="newsletters[yoga]" value="yes" checked>
              <span class="duration">Yes</span>
            </label>            
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="newsletters[yoga]" value="no">
              <span class="duration">No</span>
            </label> 
          </div>

        </fieldset>

        <div class="footer">
          <span style="position:relative">
            <img class="spinner hidden" src="/images/spinner.gif" style="position:absolute;top:0;left:-26px">
            <button class="btn btn-holstee">Update settings</button>
          </span>
        <div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="response">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <span class="on-error hidden">Aww bummer, something happend!</span>
          <span class="on-success hidden">Thanks!</span>
        </h4>
      </div>
      <div class="modal-body">
        <span class="on-error hidden">
          <p>We're sorry an error occured, we'd be delighted if you emailed us directly and we'll help you out! <a href="mailto:help@holstee.com">help@holstee.com</a></p>
          <h4 class="error-message">error message</h4>
        </span>
        <span class="on-success hidden">
          <p>Thanks for your submission! We'll make those changes right away!</p>
        </span>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Close</a>
        <a href="https://www.holstee.com" class="btn btn-holstee">Visit Shop</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

  var submitted = false;

  var reEnableSubmit = function(){
    setTimeout(function(){
      submitted = false;
    },3000);
  }

  $("form").on("submit", function(e){
    e.preventDefault();
    if(submitted) return false;
    submitted = true;
    var $spinner = $(".spinner");
    var $form = $(this);
    $spinner.removeClass("hidden");
    $.ajax({
      "method": "post",
      "data": $form.serialize()
    }).done(function(data){
      $spinner.addClass("hidden");
      reEnableSubmit();
      if(data.error){
        $(".on-success").addClass("hidden");
        $(".on-error").removeClass("hidden");
        $(".error-message").text(data.message);
      }else{
        $(".on-error").addClass("hidden");
        $(".on-success").removeClass("hidden");
      }
      $('#response').modal('show');
    }).fail(function(data){
      $spinner.addClass("hidden");
      reEnableSubmit();
      $(".on-success").addClass("hidden");
      $(".error-message").text("ajax request failed");
      $('#response').modal('show');
    });
  });
</script>

</body>
</html>
